<script src="../fusioncharts/js/fusioncharts.js"></script>
<script src="../fusioncharts/js/fusioncharts.charts.js"></script>
<script src="../fusioncharts/js/fusioncharts.maps.js"></script>
<link class="style" href="../Css/summary.css" rel="stylesheet" type="text/css">

<div class="panel pad">
	<div id="ChartRow_1" class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								<span id="ChartHead_Tap2-1"></span>
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<br>
								<div id="Chart_Tap2-1" class="chart">
									<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
								</div>
								<p style="color: red;font-weight: bold;float: right;">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel pad" id="ChartRow_2">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="ChartHead_Tap2-2"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<div id="Chart_Tap2-2" class="chart"></div>
							<p style="color: red;font-weight: bold;float: right;">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel pad" id="ChartRow_2_P2">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								<span id="ChartHead_Tap2-3"></span>
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
	
								<div id="Chart_Tap2-3" class="chart">
									<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
								</div>
								<div id="top_c3"></div>
	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel pad" id="ChartRow_3">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								<span id="ChartHead_Tap2-4"></span>
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<div id="Chart_Tap2-4" class="chart">
									<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>