<link class="style" href="../Css/summary.css" rel="stylesheet" type="text/css">

<div class="row marginL">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-11 panel padding" id="tab3_box1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-1"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-1" class="chart"></div>
							<div class="tap3_1"></div>
							<p style="color: red; font-weight: bold; float: right;">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11 panel padding" id="tab3_box3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-3"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-3" class="chart"></div>
							<div class="tap3_3"></div>
							<p style="color: red; font-weight: bold; float: right;">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11 panel padding" id="tab3_box5">
				<div class="panel panel-primary">
<!-- 				 style="padding-bottom: 12em;"> -->
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-5"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-5" class="chart"></div>
							<div class="tap3_5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-11 panel padding" id="tab3_box2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-2"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-2" class="chart"></div>
							<div class="tap3_1"></div>
							<p style="color: red; font-weight: bold; float: right;margin:5px">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11 panel padding" id="tab3_box4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-4"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-4" class="chart"></div>
<!-- 							<div class="tap3_3"></div> -->
							<p style="color: red; font-weight: bold; float: right;padding-top:74px;">*สามารถคลิ๊กที่กราฟเพื่อดูรายละเอียด</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11 panel padding" id="tab3_box6">
				<div class="panel panel-primary" >
<!-- 				style="padding-bottom: 30%;"> -->
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<span id="Charttext_Tap3-6"></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div id="Chart_Tap3-6" class="chart"></div>
							<div class="tap3_6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>